$app-header-height: 80px;
$app-primary: #ff8303;
$app-green: #30e0a1;
$app-red: #cf473b;
$app-blue: #2b96f9;
$app-white: #fff;
$app-text-primary: $app-white;
$app-text-secondary: #6b717e;
$app-text-gradient: linear-gradient(90deg, $app-primary 0%, #ffc182 100%);
$app-border-radius: 8px;
$app-bg: #0c0b11;
$app-box-dark-bg: #0a0310;
$app-card-bg: #161521;
$app-box-bg: #202230;
$app-box-hover-bg: #2f3446;
$app-border-color: rgba(108, 117, 125, 0.3);
$app-border: 1px solid $app-border-color;
